.leg-block-airport-flag {
  color: var(--wtdyne-color-cyan);
  width: 28px;
  height: 28px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
}

.leg-block-airport-flag div {
  margin-left: auto;
  margin-right: auto;
}
