.cdi-scale-label {
  position: absolute;
  top: calc(100% - 40px);
  left: -24px;
  transform: rotate(-90deg);
  width: 56px;
  height: 20px;
}

.cdi-scale-value {
  position: absolute;
  top: 0;
  right: 28px;
  font-size: 17px;
}

.cdi-scale-unit {
  position: absolute;
  top: 2px;
  left: 36px;
  font-size: 13px;
}
