.ndb-info-page2 .ndb-info {
  position: absolute;
}

.gtc-horizontal .ndb-info-page2 .ndb-info {
  left: calc(50% - 685px / 2);
  top: 55px;
}

.gtc-vertical .ndb-info-page2 .ndb-info {
  left: calc(50% - 365px / 2);
  top: 27px;
}