.svs-page .wt-ifd-airspeed-container .wt-ifd-tape tspan.big-text {
    font-size: 26px;
    letter-spacing: -1px;
}

.svs-page .wt-ifd-airspeed-container .wt-ifd-tape tspan.normal-text {
    font-size: 20px;
}

.svs-page .wt-ifd-airspeed-container .wt-ifd-tape tspan.small-text {
    font-size: 14px;
}
